<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Team Profile Viewer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
  <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
  <!--script src="js/less-1.3.3.min.js"></script-->
  <!--append ‘#!watch’ to the browser URL, then refresh the page. -->
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
</head>

<body ng-controller="AppCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <i class="fa fa-github fa-lg"></i>
        </a>
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="organization" placeholder="Search Github Organizations" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default" ng-click="getMembers(organization)" type="submit"><i class="fa fa-search fa-lg"></i></button>
            </div>
          </div>
        </form>  
      </div>
    </div>
  </div>

  <div class="container app-container">
    <div class="content" ng-show="loading">
      <h1 class="intro-text" >Github Team Viewer</h1>
      <div class="col-md-6 col-xs-12">
        <h2 class="app-text">Find Awesome developers!</h2>
        <h3 class="app-text">Enter an Organization's name in the Search box and get to know the developers working there.</h3>
      </div>
      <div class="col-md-6 col-xs-12 profile-image-container">
      </div>
    </div>
    <div class="row" ng-show="finding">
      <div class="col-md-8 col-xs-6 team-container">
        <span class="user-list">
          <span ng-repeat="member in members" class="img-avatar-container">
            <a href="" ng-click="getUser(member.login)"><img ng-show="member" src="{{member.avatar_url}}" class="img-avatar"></a
          </span>
        </span>
      </div>
      <div class="col-md-4 col-xs-6 team-member-info">
        <h4 ng-show="user.name">{{ user.name }}</h4>
        <span ng-show="user">
          <img class="img-avatar" alt="profile image" ng-show="user" src="{{user.avatar_url}}"/>
          <button class="btn btn-success" ng-click="getRepos(user.login)">Check repos</button>
            <ul class="fa-ul">
              <li>
                <i class="fa fa-user fa-lg fa-li"></i> {{ user.login }} works at {{organization}}.
              </li>
              <li ng-show="user.location">
                <i class="fa fa-location-arrow fa-lg fa-li"></i> lives in {{ user.location }}.
              </li>
              <li ng-show="user.blog">
                <span><i class="fa fa-pencil fa-lg fa-li"></i>  blogs at <a href="{{user.blog}}" target="_blank">{{user.blog}}</a></span>. 
              </li>
              <li ng-show="user.followers">
                <i class="fa fa-users fa-lg fa-li"></i> {{user.followers}} followers on GitHub.
              </li>
              <li ng-show="user.public_repos">
                <i class="fa fa-code-fork fa-lg fa-li"></i>Has open sourced {{user.public_repos}} public repos .
              </li>
              <li ng-show="user.html_url">
                <i class="fa fa-github fa-lg fa-li"></i>Github profile URL: <a href="{{user.html_url}}" target="_blank">{{user.html_url}}</a>
              </li>
              <li ng-show="user.email">
                <i class="fa fa-rocket fa-lg fa-li"></i> Email address: <a href="mailto:{{user.email}}">{{user.email}}</a>
              </li>
              <li ng-show="user.hireable">
                <i class="fa fa-question fa-lg fa-li"></i> Available for Hire : {{ user.hireable }}
              </li>
            </ul>
        </span>
        <div class="repo-container">     
           <span class="container" ng-repeat="repo in repos">
               <span class="col-md-6">
                 <i class="fa fa-laptop fa-3x" ng-show="repo"></i> <a class="projects" href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
               </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="lib/angular/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/filters.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
</body>
</html>
